* {
    box-sizing: border-box
}
@font-face {
    font-family: Vogue;
    src: url(../FONTES/Vogue.ttf);
}

/* --- //////////////////////////////////////////////////////// BODY //////////////////////////////////////////////////////// --- */

body {
    font-family: Verdana, sans-serif; 
    margin:0;
}
#segmento1{
    display: block;
    width: 80%;
    margin-left: 10%;
}
.Titulo{
    font-size: 40px;
    font-weight: bold;
    font-family: Vogue;
}
#SubTitulo{
    font-size: 20px;
}

/* --- //////////////////////////////////////////////////////// HEADER //////////////////////////////////////////////////////// --- */

header{
    background-color: black;
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#TituloInicio{
	display: inline-block;
	flex-direction: column;
	color: white;
    justify-content: left;
}

a{
    color: white;
}

li{
    display: inline-block;
}

#NomeEmpresa{
    display: inline-block;
    color: white;
    font-family: Vogue;
    height: 20px;
    margin-top: 10%;
    margin-bottom: 0px;
}
#LogoEmpresa{
    padding-bottom: 9px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 0px;
}
.SubTituloInicio:hover{
    text-decoration: underline white 5px;
}

.bloco{
    position: absolute;
    right: 75vh;
    bottom: 44px;
    width: 240px;
    height: 10px;
    background-color: #0069B1;
    -webkit-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);
}

.bloco2{
    position: absolute;
    right: 50vh;
    bottom: 44px;
    width: 240px;
    height: 10px;
    background-color: #00B0B9;
    -webkit-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);
}

.bloco3{
    position: absolute;
    right: 25vh;
    bottom: 44px;
    width: 240px;
    height: 10px;
    background-color: #e36060;
    -webkit-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);
}

.bloco4{
    position: absolute;
    right: 0vh;
    bottom: 44px;
    width: 240px;
    height: 10px;
    background-color: #caaf2b;
    -webkit-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);
}

.positivo{
    -webkit-transform: skew(40deg);
    -ms-transform: skew(40deg);
    transform: skew(40deg);
}

/* --- //////////////////////////////////////////////////////// SLIDESHOW //////////////////////////////////////////////////////// --- */

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    top: 5vh;
    position: relative;
    margin-bottom: 80px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

hr{
    top: 50px;
}
